<h1>{{city.name}}</h1>
<div>
  <h2>Average Rating: {{cityAverageRating}}</h2>
</div>

<div class="category">
  <div>Night Life: {{cityNightlifeRating}}
  
    </div>
  <div>Affordability: {{cityAffordabilityRating}}</div>
  <div>Dining: {{cityDiningRating}}</div>
  <div>Transportation: {{cityTransportationRating}}</div>
  <div>Family Friendliness{{cityFamilyfriendlyRating}}</div>
   <div>Nature: {{cityNatureRating}}</div>
  <div>Weather: {{cityWeatherRating}}</div>
   <div>Activites: {{cityActivitiesRating}}</div>
</div>

   <div class="reviews">
       <div>Start your own review for this city</div><br>


       <div>@handleexample says....</div>
       <div>Overall Rating</div>
       <div>"Great public parks!" - jane doe</div>
       <BR>
       <div>@handleexample says....</div>
       <div>Overall Rating</div>
       <div>"Library was terrible.." - jane doe</div>
   </div>
</div>
<div class="city-search-form">
   <input class="city-search" type="text" id="name-signup" placeholder="Enter a city" /> <button type="submit"
       id="searchButton">Search</button>
</div>
